.signinInputContainer {
    background-color: white;
    padding: 28px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 15px 20px black;
    margin: 6vh 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .signinInputContainer {
        margin: 3vh 0;
        padding: 22px;
    }
}

.errorMsgRegister {
    width: 400px;
    margin: 4px auto 18px auto;
    padding: 2px;
    text-align: center;
    color: white;
    background-color:red;
    border-radius: 100px;
}
