.configContainer {
    background-color: white;
    padding: 28px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .configContainer {
        padding: 20px;
    }
}
