.passwordContainer {
    background-color: white;
    padding: 28px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 15px 20px black;
}

.inputArea {
    width: 95%;
    display: flex;
    margin: 0 auto;
    padding: 10px 8px;
    border-radius: 10px;
    margin-bottom: 8px;
    border: solid rgba(128, 128, 128, 0.185) 1px
}

.inputArea:focus {
    outline: none;
}

.loading {
    width: 16px;
    height: 16px;
}

.errorMessage {
    width: fit-content;
    font-size: 12px;
    padding: 4px 12px;
    text-align: center;
    margin: 0 auto;
    font-family: gotham-bold;
    justify-content: center;
    color: var(--main-orange);
    border: 1px solid var(--main-orange);
    border-radius: 25px;
}

.recoverTitle {
    margin-top: 0;
    margin-bottom: 24px;
    color: gray;
}