.passwordContainer {
    background-color: white;
    padding: 28px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .passwordContainer {
        padding: 20px;
    }
}

.errorMessage {
    width: fit-content;
    max-width: 100%;
    font-size: 12px;
    padding: 4px 12px;
    text-align: center;
    margin: 8px auto 0 auto;
    font-family: gotham-bold;
    color: var(--main-orange);
    border: 1px solid var(--main-orange);
    border-radius: 25px;
    word-break: break-word;
}

.recoverTitle {
    margin-top: 0;
    margin-bottom: 24px;
    color: gray;
}
