.loginInputContainer {
    background-color: white;
    padding: 28px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .loginInputContainer {
        padding: 20px;
    }
}

.formLabel {
    font-size: 14px;
    padding: 16px 0 10px 0;
    margin: 0;
}

.textTitle {
    font-family: 'gotham-bold';
    color: var(--main-orange);
    font-size: 24px;
    padding-bottom: 12px;
    margin: 0;
}

.inputArea {
    width: 100%;
    display: block;
    margin: 0 auto 8px auto;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.185);
    font-family: inherit;
    box-sizing: border-box;
}

.inputArea:focus {
    outline: none;
    border-color: var(--main-orange);
}

.mainButton {
    text-align: center;
    margin: 14px auto 8px auto;
    width: 100%;
    border-radius: 8px;
    padding: 10px 0;
    border: none;
    color: white;
    background-color: var(--main-orange);
    cursor: pointer;
}

.mainButton:hover {
    background-color: rgb(209, 137, 4);
    transition: all ease 0.2s;
}

.secondaryButton {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--main-orange);
    margin-top: 8px;
}

.secondaryButton:hover {
    cursor: pointer;
}

.loading {
    width: 16px;
    height: 16px;
}

.passwordButton {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: var(--main-orange);
    margin: 14px 0 4px 4px;
}

.passwordButton:hover {
    cursor: pointer;
    color: rgb(209, 137, 4);
    transition: all ease 0.2s;
}

.errorMsgLogin {
    width: 100%;
    max-width: 320px;
    margin: 6px auto 12px auto;
    padding: 4px;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 100px;
    font-size: 13px;
    box-sizing: border-box;
}
